<!DOCTYPE html>
<html lang="en">
 <head>
      <title>TinyApp</title>
  </head>

<body>


  <% include ./partials/_header %>

<% if (typeof(user) !== "undefined" && user) { %>
     <h3 style="color:#D61A46;text-align:center;font-family:verdana;"><%= user['email'] %></h3>
    <form method="POST" action="/logout">
    <button type="submit" style="font-size:15px; padding:10px;">Log out</button>
    </form>
  <ul>

    <% } %>

   <% for (var shorterUrl in urls) { %>

    <li><%= shorterUrl %> --> <%= urls[shorterUrl] %> <a href="/urls/<%= shorterUrl%>/">Edit</a> </li>
    <form method="POST" action="/urls/<%= shorterUrl%>/delete">
    <button type="submit" style="font-family:verdana;" >Delete URL</button>
    </form>

   <%}%>
  </ul>


</form>
</body>
</html>